*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

body {
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  max-width: 62.6rem;

  margin: 0 auto;
  
  text-align: center;
}

main img {
  margin: 6.4rem 0 3.2rem;
}

main h1 {
  font-family: 'Dosis', sans-serif;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 4rem;

  margin-bottom: 1.6rem;
}

main h1 .mark{
  font-weight: 700;
  color: #EE24FF;
}

.strong {
  color: #3F3D56;
}

main p {
  font-size: 1.5rem;
  line-height: 2.2rem;
  color: #828282;
}

main p+p {
  margin-top: 3.2rem;
  line-height: 2rem;
} 

footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 3.2rem;

  border-top: 1px solid #ECEFF2;
  width: 39.1rem;
  text-align: center;
  padding-top: 1.6rem;
  margin: 0 auto 4rem;
}

footer ul li a{
  font-weight: 700;
  font-size: 1.5rem;

  text-align: center;

  color: #3F3D56;
}

footer ul li a:hover {
  color: #615f80;
}

footer img{
  width: 100%;
  vertical-align: bottom;
}